# Python Operators.
Operators are classified as below

Arithmetic
Assignmment
Comparison
Logical
Bitwise
Identity
Membership

## Arithmetic operators
# + , - , * , /, ** ,% , //

In [5]:
## code for operators
x=10
y=20
res=x+y
print("addition result:",res)
res = 10 + 20.345
print(res)
res = x-y
print("subtraction result:",res)
res = x * y
print("product of x and y",res)
res = 20 / 3
print("division result ",res)
res = 20 // 3
print("quotient",res)
res = 20 % 3
print("remainder",res)
res  = x ** 3
print("exp",res)

addition result: 30
30.345
subtraction result: -10
product of x and y 200
division result  6.666666666666667
quotient 6
remainder 2
exp 1000

In [2]:
print(20/3)
print(20//3)

6.666666666666667
6

In [7]:
## cost of 1kg apple = 120
## find cost of 6.5 kg of apple
cost_of_apple_per_kg = 120
quantity= 6.5

total_cost = cost_of_apple_per_kg * quantity
print("You have to pay ",total_cost)
cost_of_banana =40
quant = 20
cost = cost_of_banana * quant
print("cost of banana", cost)
cost= 200 * 3

You have to pay  780.0
cost of banana 800

In [11]:
_B = 10
print(_B)

10

## Assignment  operators
# =,+=,-=,*=,/=,%= //=

In [3]:
x= 100
x+= 1
print(x)
x+=2
print(x)

x%=6
we = None
print(x,we)

101
103
1 None

## comparison operators
# , >,<,==,,!=
## output is always boolean. i:e true or false

In [18]:
age = 20
if age <= 18:
    print('vote')
else:
    print("no vote")
res = age < 25
print(res)
print(type(res))

age == 18

no vote
True
<class 'bool'>

# logical operator
and,or not
and : return x is x is false, y otherwise
or: return y is x is false, x otherise
not : return x is  x is true else False

In [3]:
res = - 1 and -2
print(res)
if res:
    print("welcome")
x=1
y=not x
print(y)

-2
welcome
False

In [10]:
x=5
y=False 
z=False 
print(x or y or z)

5

## bitwise operator
| or , & and , ^ xor, << , >>>

In [14]:
x =2 
y = 4
res = x | y
print(res)

x =2 
y = 2
res = x & y
print(res)

x =2 
y = 4
res = x ^ y
print(res)

x =10
y = 4
res =x << 1
print("x << 2",res)
# 0010 --- >2
# 0100 -->
# 1000->
# 10000-->

x =2 
y = 4
res = 16 >> 3
print(res)

6
2
6
x << 2 20
2

## Identity
is, is not
is: returns true if operand is identical
is not: True if operands are not identical

In [17]:
x = 10
y='aa'
print(x is not  y)

True

In [12]:
x='a'
if x is not 'ab':
    print(x)

a

## membership
in 
not in.

In [15]:
x = [10,20,30]
y=10
if 10 not in x:
    print("present")

In [20]:
x=20
print(type(x))
x=20.22
print(type(x))
x=False
print(type(x))
x='abcd'
print(type(x))
x=1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>